MODEL_PATH=models/model.keras
IMAGE_WIDTH=224
IMAGE_HEIGHT=224
THRESHOLD=0.5
POSITIVE_CLASS=male
NEGATIVE_CLASS=female
CORS_ORIGINS=http://localhost:3000,https://tu-frontend.vercel.app
HF_MODEL_REPO=JNicolasMartinezv/cnn-gender-classifier
